.container {
    padding: 5rem 5rem;
    display: flex;
    justify-content: space-between;
  }
  
  .main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .rounded_lg {
    border-radius: 5px;
  }

  .btn {
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    border: none;
    background-color: #005cd4;
    cursor: pointer;
    color: white;
    font-size: 19px;
  }

  .btn:hover {
    background-color: #0033c1;
    color: white;
  }

  .heading {
    font-size: 50px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 20px;
  }

  .paragraph {
    font-size: 20px;
    color: #272727;
    margin-bottom: 20px;
    width: 70%;
  }